{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm">
</br>

    <form action="/auth/login" method="POST">
        <fieldset> 
            <div class="authHeader">
            <h2 class="legend">You're a Champion!
                I knew you'd be back</h2>

            <div class="signup">
                <div class="authImg">
       <img class="authImg" src="https://i.imgur.com/cncHG16.jpg" height="400" width="300">
       </div>

    <div class="authInput">
            <label class="form-label">Username: </label>
            <input type="text" name="username" placeholder="username" class="form-control" required>
            <label class="form-label">Password:</label>
            <input type="password" name="password" placeholder="enter password" class="form-control" required>
        </br>
            <input type="submit" value="Log In" class="btn btn-secondary">
    </fieldset>
     </div>
    </div>
    </form>
  

{% endblock %}