{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm">
</br>


    <form action="/auth/signup" method="POST">
        <fieldset>
            <div class="authHeader">
            <h2 class="legend"> "Shut up & sign up already." </h2>

        <div class="signup">
         <div class="authImg">
<img class="authImg" src="https://scontent.ftpa1-2.fna.fbcdn.net/v/t39.30808-6/276320986_1387218575040433_7721558602721269215_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=0debeb&_nc_ohc=y8lJMDCTxvQAX-Dzmkb&tn=YTUBB30fVREDujPQ&_nc_ht=scontent.ftpa1-2.fna&oh=00_AT-Km2v_D3BXAU7c1f_ISVgVk8ViTn-ImkWJkQsAm9QhXg&oe=624C8B44" height="400" width="300">
</div>
        <div class="authInput">
        </br>
            <label class="form-label">Username: </label>
            <input type="text" name="username" placeholder="username" class="form-control" required>
            <label class="form-label">Password:</label>
            <input type="password" name="password" placeholder="enter password" class="form-control" required>
    </br>
            <input type="submit" value="Create Account" class="btn btn-secondary">
        </fieldset>
    </div> 
    </div>
    </form>



{% endblock %}