{% layout "layout.liquid" %}
{% block content %}
</br>

<h1 class="error">{{error}}</h1>

<img class="backrolls" src="https://i.imgur.com/gxiNbLG.jpg" alt="backrolls?!" height="350" wiedth="300">


{% endblock %}