{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm">
</br>
</br>
</br>
</br>

    <form action="/auth/signup" method="POST">
        <fieldset>
            <div class="authHeader">
               
            <h2 class="legend"> "Shut up & sign up already." </h2>
            
     <div class="signup">
         <div class="authImg">
<img class="authImg" src="https://scontent.ftpa1-2.fna.fbcdn.net/v/t39.30808-6/276320986_1387218575040433_7721558602721269215_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=0debeb&_nc_ohc=Ll5wEe5lDZEAX_azoJn&tn=YTUBB30fVREDujPQ&_nc_ht=scontent.ftpa1-2.fna&oh=00_AT9UlFGj4T_s1Om4np4F3R7mgoQopYeiyoN_aq7SLtIYFQ&oe=623CB944" height="300" width="200">
</div>
</div class="authInput">
        </br>
            <label class="form-label">Username: </label>
            <input type="text" name="username" placeholder="username" class="form-control" required>
            <label class="form-label">Password</label>
            <input type="password" name="password" placeholder="enter password" class="form-control" required>
        </fieldset>
    </br>
        <input type="submit" value="Create Account" class="btn btn-secondary">
    </form>
</div> 
</div>

{% endblock %}