{% block content %}

<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid navBarContainer">
        <a href="/dragball" class="navbar-brand">✨ She's a Super Queen ✨ </a>


        {% if loggedIn %}
        <div class="navInnerContainer">
            <a href="/dragball" class="nav-link text-light">View All  |  </a>
            <a href="/queen/fave/mine" class="nav-link text-light">Faves  |  </a>
            <a href="/team/mine" class="nav-link text-light">My Team</a>
        </div>
        {% endif %}


        {% if loggedIn %}
        <div class="navInnerContainer">
            <a href="/queen/fave/mine" class="nav-link text-light">Hieee {{ username }}  | </a>
            <a href="/auth/logout" class="nav-link text-light">Log Out</a>
        </div>
        {% else %}
        <div class="navInnerContainer">
            <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
            <a href="/auth/login" class="nav-link text-light">Sign In</a>
        </div>
        {% endif %}
    </div>
</nav>
{% endblock %}
