body {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm301-beer-1b.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f143277f2561fddfcea0460cc4736b00");
    background-size:contain;
  }

.queensContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}  

.queenContainer {
    width: 200px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    background: white;
    word-break: break-word;
    padding-bottom: 10px;
}

.queenName {
    color: rgb(70, 65, 154);
    margin-top: 10px;
}

.aboutQueen {
    width: 180px;
    white-space: normal;
    color: rgb(70, 65, 154, .6);
    font-size: 12px;
}

.favButton {
    width: 180px;
    margin-bottom: 10px;
}


.cardButtons {
   width: calc(100% - 20px);
   display: flex;
   flex-direction: column;
}

.form-group {
    border-bottom: 20px;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  img {
      margin-top: -2px;
      opacity: .7;
      
  }

  .forWhat {
    pointer-events: none;
    margin-top: 20px;
    margin-left: 30%;
    border-radius: 15px;
    border: 5px solid whitesmoke;
    opacity: .9;
  }

.pageHeader {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    border: 4px solid pink;
    font-size: 55px;
}

.indexHeader {
    font-family: 'Niconne', cursive;
    text-align: center;
    font-size: 60px;
    color: black;
    padding: 20px;
}