.queenContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}   

.aboutQueen {
    width: 250px;
    white-space: normal;
    word-break: break-word;
    color: purple;
}

.form-group {
    border-bottom: 20px;
}