{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    
        
      
     
        <h1>Oh, so you think you can make HerStory, huh?</h1>
        <h2 class="display-6">My Team</h2>
        <div class="row">
            {% for queen in queens %}
                <div class="card" style="width: 18rem;">
                    <!-- card header -> name of fruit -->
                    <!-- card body -> ready to eat as title, color as text-->
                    <h5 class="card-header">{{queen.name}}</h5>
                    <div class="card-body">
                        <img src="{{queen.image_url}}">
                        <p class="card-text"> 
                           
                        </p>
                        {% if example.owner == userId %}
                        <form action="/queen/fave/mine{{ queen._id }}?_method=DELETE" method="POST">
                            <input type="submit" value="Sashay Away" class="btn btn-danger">
                        </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}