{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        
        {% if example.owner == userId %}
     
        <h1>Oh, so you think you can make HerStory, huh?</h1>
<h2>My Team</h2>

<h3>Queen 1</h3>
<h4>{{queen.name}}</h4>
<h4>{{queen.image}}</h4>
<form action="/{{ queen._id }}?_method=DELETE" method="POST">
    <input type="submit" value="Sashay Away" class="btn btn-danger">
</form>

<h3>Queen 2</h3>



<h3>Queen 3</h3>



<h3>Queen 4</h3>



<h3>Queen 5</h3>
        
       
        {% endif %}
        
    </article>
</div>
{% endblock %}